@font-face {
    font-family: DroidKufi;
    src: url('../fonts/DroidKufi/DroidKufi-Regular.ttf'), url('../fonts/DroidKufi/DroidKufi-Regular.eot');
}
*{
	font-family: DroidKufi;
	font-size:16px;
}
a{ 
	color:#254b72;
}
a:hover{
	text-decoration:none;
}
table tr td,table tr th{
	padding:2px 4px;
	border-bottom:1px solid var(--lightblue);	
}
table {
	width:100%;
}
table thead{
	background:var(--lightblue);
}
table tr:hover{
	background:var(--lightblue);
}
textarea{
    resize: vertical;
}
/*input, select, textarea{
	display:block;
	width:100%;
	padding:2px 6px;
	border-radius:5px;
	border:1px solid var(--lightblue);
}
input[type="text"]{
	padding:10px ;
}
label{
	margin-top:16px;
}
button{
	padding:6px 22px;
	border-radius:5px;
	border:1px solid var(--lightblue);
	background: var(--darkblue);
	color:var(--white);
}
button:hover{
	background:var(--medblue);
	color:var(--darkblue);
	border:1px solid var(--darkblue);
}*/

.error-message:has{
	position:relative;
	border:1px solid #F00;
}
.error-message{
	padding:4px 6px 0 0;
	line-height:11px;
	color:#F00;
	display:block;
	font-size:11px;
	margin-top:-15px;
	float:right;
}
.message{
	position: fixed;
	display: inline-block;
	width:auto;
	height:120%;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background:rgba(0,0,0,0.7);
	z-index:8888;
	text-align:center;
	padding: 0 30px;
}
.message span{
	overflow:hidden;
	border-radius:3px;
	display:block;
	max-width:600px;
	padding:15px;
	border:1px solid #999;
	color:#000;
	z-index:9999;
	margin:150px auto;
	position:relative;
	/*opacity:0;
    animation: appear 0.5s forwards;
    -moz-animation: appear 0.5s forwards;
    -webkit-animation: appear 0.5s forwards;*/
}
.error span{
	background:#F0CECE;
}
.success span{
	background: #D6E4B1;
}
.default span{
	background: #ccc;
}
.fadeOutUp{
	-webkit-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
	transition: all .5s ease-out;
	opacity:0;
	top:-1200;
}


#imgHolder{
	opacity:0;
	z-index:-20;
	width:100%;
	height:100%;
	top:0;
	right:0;
	position:fixed;
	background:rgba(0,0,0,0.9);
	-webkit-transition: all 0.5s;
    transition: all 0.5s;
	text-align:center;
}
#imgHolder img{
	margin:30px auto;
	max-height:90%;
	max-width:90%;
	border-radius:20px;
	-moz-box-shadow: 0px 10px 20px 0px rgba(200,235,235,1);
	-webkit-box-shadow: 0px 10px 20px 0px rgba(200,235,235,1);
	box-shadow: 0px 0px 10px 5px #CCC;
}
#imgHolder i{
	color:#000;
	background:#ccc;
	font-size:30px;
	cursor:pointer;
	position:absolute;
	right:15%;
	top:0;
	padding:6px 12px;
}



.hiddenInput{
	line-height:0 !important;
	font-size:1px !important;
	height:4px !important;
	display:block;
	overflow:hidden;
	opacity:0;
	z-index:-1;
}
.mychckbox_container{
	background: #f9f9f9;
	border:1px solid #f1f1f1;
	padding:4px 16px;
	display:block;
	float: right;
	width:100%;
	border:1px solid var(--lightblue);
	border-radius:4px;
}
.mychckbox_container div{
	display:inline-block;
}
.mychckbox_container label{
	font-weight:normal;
}


.mycheckbox input[type="checkbox"] { position: absolute; opacity: 0; z-index: -1; }
.mycheckbox input[type="checkbox"]+span { 
	font-family:DroidKufi, sans-serif;
}
.mycheckbox input[type="checkbox"]+span:before { 
	font: 20px FontAwesome; 
	content: '\f10c'; 
	display: inline-block; 
	width: 22px;
	color:#666;
}
.mycheckbox input[type="checkbox"]:checked+span:before { 
	content: '\f058';
	color:#94D51C;
}
.mycheckbox input[type="checkbox"]:focus+span:before { outline: 1px dotted #aaa; }
.mycheckbox input[type="checkbox"]:disabled+span { color: #999; }
/*.mycheckbox input[type="checkbox"]:not(:disabled)+span:hover:before { text-shadow: 0 1px 2px #77F; }*/ 



.form-control{
	padding:4px 8px !important;
}
.ltr{
	direction:ltr;
}
.white_bg_block h1{
	padding:0 20px;
	font-size:28px;
	text-align:center;
}




.amenu_holder{
	position:fixed;
	width:100%;
	max-width:330px;
}
.amenu_holder header{
	border-bottom:2px solid var(--red);
	text-align:center;
	padding:16px 0;
	height:90px;
}
.amenu_holder header h1{
	font-size:22px;
	font-weight:900;
}
.hmenu{
	height:90px;
	border-bottom:2px solid var(--red);
}
.hmenu > div{
	margin-top:20px;
}
.hmenu a{
	margin:20px 6px;
}
.menubtn a{
	position: fixed;
	z-index:500;
	top:0;
	right:0;
	background:var(--red);
	padding:6px 6px 9px 12px;
	border-bottom-left-radius:50px;
	width:40px;
	height:40px;
	color:#fff;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.4);
}
.menubtn{
	display:none;
}
.amenu_holder{
	background: var(--lightblue);
	height:100%;
}
.amenu_holder a{
	display:block;
	width:100%;
	padding: 6px;
	display: inline-block;
}
.amenu_holder a i{
	padding: 4px;
	font-size:20px;
	color:var(--red);
}
.amenu_holder a:hover:not(.current), .amenu_holder a:hover:not(.current) i{
	background:var(--darkblue);
	color:var(--white);
}


.actions{
	white-space: nowrap;
}
.mycontainer{
	background:var(--medblue);
	min-height:100% !important;
	min-height:800px !important;
}
.current{
	background: linear-gradient(to left, var(--lightblue), var(--medblue));
	border-bottom:2px solid #ccc;
	border-top:1px solid #ddd;
}
.actions_btns{
	display: inline-block;
}
.actions_btns div{
    display: inline-block
}
.actions_btns a, .actions_btns select, .actions_btns button, .actions_btns input[type=text],
.actions_btns2 a, .actions_btns2 select, .actions_btns2 button, .actions_btns2 input[type=text]{
	padding:2px 8px;
	line-height:22px;
	margin: 0 2px;
	border:1px solid gray;
	border-radius:2px;
	text-align:center;
    background: none;
    height: 35px;
}
.actions_btns select, .actions_btns2 select{
	padding:0px 4px;
}
.actions_btns2 a:hover, .actions_btns2 button:hover, .actions_btns2 a:hover, .actions_btns2 button:hover {
	background:#FFF;
}
.view_page{
	overflow:hidden;
	max-width:100%;
}
.hmenu .side_menu{
    position: relative;
}
.hmenu .side_menu .itms{
    display: none;
    position: absolute;
    left: 0;
    width: 250px;
    background: #fff;
    border: 1px solid var(--lightblue);
    padding: 6px;
    z-index: 999;
}
.hmenu .side_menu .itms ul{
    list-style-type: none;
    width: 100%;
}
.hmenu .side_menu .badge{
    background: rgba(255,0,4,0.7);
    position: absolute;
    right: -5px;;
    font-size: 10px;
}
.hmenu .side_menu:hover .itms{
    display: block;
}



.bootstrap-tagsinput{
    background:#fff;
    border: 1px solid #ccc;
    display: block;
    float: right;
    width: 100%;
    border-radius: 4px;
}
.bootstrap-tagsinput input{
    border: none;
    border-bottom: 1px dashed #000 ;
    float: right;
    background: none;
    line-height: 22px;
    height: 28px;
    margin:1px 4px;
}

.bootstrap-tagsinput .tag{
    direction: rtl;
    float: right;
    margin:1px 4px;
    line-height: 22px;
    height: 28px;
    text-align: center !important;
}
.bootstrap-tagsinput span span:after{
    color: #CD0306;
    content: " X ";
    cursor: pointer;
}
.bootstrap-timepicker-minute, .bootstrap-timepicker-hour, .bootstrap-timepicker-meridian{
    border: 1px solid #aaa;
}
.bootstrap-timepicker-widget *{
    direction: ltr !important;
}
.bootstrap-timepicker-widget.dropdown-menu{
    right: auto !important;
}
.ltr{
    direction: ltr !important;
}
/*------------------ /backend --------------------------*/

@media (min-width:767px) {
	.hideWeb{
		display:none;
	}
}

@media (max-width:767px) {
	.hideMob{
		display:none;
	}
}
@media (max-width:992px) {
	.menubtn{
		display:block;
	}
	.hmenu>div{
		margin-top:35px;
		padding:0;
	}
	.amenu_holder{
		margin-right:-330px;
		background:rgba(204,204,204,0.95);
		max-width:90%;
		-webkit-transition: all .5s cubic-bezier(0,.4,0,1) ;
		-o-transition: all .5s cubic-bezier(0,.4,0,1) ;
		transition: all .5s cubic-bezier(0,.4,0,1) ;
		z-index:400;
	}
}
@media (max-width:1200px) {
	.amenu_holder{
		max-width:270px !important;
	}
}
@media (min-width:1600px) {
	.amenu_holder{
		max-width:430px !important;
	}
}