@font-face {
    font-family: DroidKufi;
    src: url('../fonts/DroidKufi/DroidKufi-Regular.ttf'), url('../fonts/DroidKufi/DroidKufi-Regular.eot');
}
[class*="col-"] {
	float:right;
}
.error-message:has{
	position:relative;
}
.error-message{
	padding:4px 6px 0 0;
	line-height:11px;
	display:block;
	font-size:11px;
	float:right;
    color: #F00;
	margin-top:-15px ;
}
.mycheckbox .error-message{
	margin-top:-5px ;
}
.message{
	position: fixed;
	display: inline-block;
	width:auto;
	height:120%;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background:rgba(0,0,0,0.7);
	z-index:8888;
	text-align:center;
	padding: 0 30px;
}
.message span{
	overflow:hidden;
	border-radius:3px;
	display:block;
	max-width:600px;
	padding:15px;
	border:1px solid #999;
	color:#000;
	z-index:9999;
	margin:150px auto;
	position:relative;
	/*opacity:0;
    animation: appear 0.5s forwards;
    -moz-animation: appear 0.5s forwards;
    -webkit-animation: appear 0.5s forwards;*/
}
.error span{
	background:#F0CECE;
}
.success span{
	background: #D6E4B1;
}
.default span{
	background: #ccc;
}
.fadeOutUp{
	opacity:0;
	top:-1200;
}


#imgHolder{
	opacity:0;
	z-index:-20;
	width:100%;
	height:100%;
	top:0;
	right:0;
	position:fixed;
	background:rgba(0,0,0,0.9);
	-webkit-transition: all 0.5s;
    transition: all 0.5s;
	text-align:center;
}
#imgHolder img{
	margin:30px auto;
	max-height:90%;
	max-width:90%;
	border-radius:20px;
	-moz-box-shadow: 0px 10px 20px 0px rgba(200,235,235,1);
	-webkit-box-shadow: 0px 10px 20px 0px rgba(200,235,235,1);
	box-shadow: 0px 0px 10px 5px #CCC;
}
#imgHolder i{
	color:#000;
	background:#ccc;
	font-size:30px;
	cursor:pointer;
	position:absolute;
	right:15%;
	top:0;
	padding:6px 12px;
}





body *::selection {
  background: var(--trikwaz);
  color: var(--white);
}
body *::-moz-selection {
  background: var(--trikwaz);
  color:var(--white);
}
.mychckbox_container{
	background: #f9f9f9;
	padding:4px 16px;
	display:block;
	float: right;
	width:100%;
	border:1px solid var(--lightblue);
	border-radius:4px;
}
.mychckbox_container div{
	display:inline-block;
}
.mychckbox_container label{
	font-weight:normal;
}
.fadeOut{
	display:none;
}
.fadeIn{
	display: block;
}


.mycheckbox input[type="checkbox"] { position: absolute; opacity: 0; z-index: -1; }
.mycheckbox input[type="checkbox"]+span { 
	font-family:DroidKufi, sans-serif;
}
.mycheckbox input[type="checkbox"]+span:before { 
	font: 20px FontAwesome; 
	content: '\f10c'; 
	display: inline-block; 
	width: 22px;
	color:#666;
}
.mycheckbox input[type="checkbox"]:checked+span:before { 
	content: '\f058';
	color:#94D51C;
}
.mycheckbox input[type="checkbox"]:focus+span:before { outline: 1px dotted #aaa; }
.mycheckbox input[type="checkbox"]:disabled+span { color: #999; }
/*.mycheckbox input[type="checkbox"]:not(:disabled)+span:hover:before { text-shadow: 0 1px 2px #77F; }*/ 










.myradiobtn input[type="radio"] { position: absolute; opacity: 0; z-index: -1; }
.myradiobtn input[type="radio"]+span { 
	font-family:DroidKufi, sans-serif;
}
.myradiobtn input[type="radio"]+span:before { 
	font: 20px FontAwesome; 
	content: '\f10c'; 
	display: inline-block; 
	width: 22px;
	color:#666;
}
.myradiobtn input[type="radio"]:checked+span:before { 
	content: '\f058';
	color:#94D51C;
}
.myradiobtn input[type="radio"]:focus+span:before { outline: 1px dotted #aaa; }
.myradiobtn input[type="radio"]:disabled+span { color: #999; }















.fadeOutUp{
	top:-150%;
	-webkit-transition: all 0.5s; 
    transition: all 0.5s;
}
.gray{
	color:#999;
}
.ltr{
	direction:ltr;
}
.myspace{
	min-height:70px;
	content: '&nbsp;'; 
}
.show_more{
	position:absolute;
	bottom:-1px;;
	display:block;
	width:100%;
	text-align:center !important;
	height: 30px;
	background:var(--yellow);
	border: none;
}
.do_show_more{
	overflow: visible;
	max-height: none;
}
.tag_remove{
	border-radius:35px;
	padding:0 12px;
	margin:2px 4px;
	background:var(--lightblue);
}
.sidebar_box h3{
	font-size:18px;
	font-weight:bold;
}
.sidebar_box{
	border-bottom:1px dashed #ccc;
	padding:20px 0;
}
.btn-group{
	display:none;
}
.request_cat_list .cate_item_social {
	background:var(--yellow) !important;
}
.request_cat_list .cate_item_block:hover .cate_item_social {
	background:#fff !important;
}
.request_cat_list .cate_item_block:hover .cate_item_social i {
	color:var(--yellow) !important;
}
.request_cat_list .cate_item_block:hover {
	background:var(--yellow) !important;
}
.foldable{
	height:0px;
	opacity:0;
	overflow:hidden;
	-webkit-transition: all 0.5s; 
    transition: all 0.5s;
}
.defold{
	height:400px;
	opacity:1;
	overflow:hidden;
	-webkit-transition: all 0.5s; 
    transition: all 0.5s;
}
.shareBar{
	
}
.shareBar i{
	font-size:18px;
	border-radius:4px;
	background:var(--medblue);
	color:var(--white);
	padding:4px;
	line-height:20px;
	text-align:center;
	min-width:30px;
	border: 1px solid var(--medblue);
	-webkit-transition: all 0.5s; 
    transition: all 0.5s;
	margin: 2px 0;
}
.shareBar i:hover{
	background:var(--white);
	color:var(--medblue);
}

.cvr{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	right:0;
	background:rgba(255,255,255,0.8);
	z-index:-1;
	text-align:center;
	opacity:0;
}
.cvr i{
	margin-top:40%;
	color:#999;
}
.hiddenInput{
	line-height:0 !important;
	font-size:1px !important;
	height:4px !important;
	display:block;
	overflow:hidden;
	opacity:0;
	z-index:-1;
}
.feature-box-text{
	height:90px;
	overflow:hidden;
}
.list_top_space{
	margin-top:50px;
}
/***************** sticky header ***********************/
/*
#logo-header * {
	-webkit-transition: none !important; 
    transition: none !important;
}
.bigHeader {
	-webkit-transition: all 0.5s; 
    transition: all 0.5s;
}
*/




.bigHeader {
	background: #ffffff;
	padding: 0;
	height: 80px;
	box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
	position:fixed;
	width:100%;
	z-index:100;
    margin: 0
}
.bigHeader .mmenu_clm ul, .bigHeader  .text_itm{
    padding: 30px 0;
}
.bigHeader .sidemenu_clm ul{
    padding: 0;
}
.smallHeader *, .bigHeader *, .bigHeader, .smallHeader{
	-webkit-transition: all 0.5s; 
    transition: all 0.5s;
}
.smallHeader{
	height: 60px;
}
.smallHeader .btn_item img{
	width:50px;
	height:50px;
}
.smallHeader .mmenu_clm ul, .smallHeader  .text_itm{
    padding: 20px 0 !important;
}
.sidemenu_clm{
	float:left;
	text-align:left;
}
.smallHeader, 
.smallHeader .sidemenu_clm ul, 
.smallHeader .mmenu_clm ul, 
.smallHeader .logo_clm ul{
	height:60px;
}
.smallHeader #logo img {
	height:28px ;
}
.btn_item, .text_itm{
    display: inline-block;
}

#nav_menu_list li div a{
	display:block;
	height:20px;
	line-height:10px;
	padding:0;
	margin:0;
}
#nav_menu_list {
    position: relative;
}
#nav_menu_list li .lang_menu{
	padding:15px 0;
	text-align:center;
	background:rgba(255,255,255,0.9);
	position:absolute;
	border:1px solid var(--lightblue);
	width:80px;
    margin-top:-30px;
    opacity: 0;
}
#nav_menu_list li:hover .lang_menu{
    margin-top:10px;
    opacity: 1;
}
#nav_menu_list li div a{
    padding: 12px 0;
}





#vfx-product-inner-item > .container, #slider-banner-section > .container{
	padding-top:40px;
}

.details-lt-block, .details-lt-block .container,  #breadcrum-inner-block .container{
	padding-top:50px;
	padding-bottom:4px;
}

.form-control{
	border:1px solid var(--lightblue) !important;
}
.news-search-lt span i {
	bottom: 0;
	color: #a3bac8;
	cursor: pointer;
	display: inline-table;
	top: 17px;
	z-index: 0;
	position: absolute;
	right:auto;
	left:15px;
}














#search-categorie-item-block button, #search-categorie-item-block input, #search-categorie-item-block select{
	border-radius:0; 
	height:50px ;
}

.tabsStyle{
	text-align:right;
	max-width:800px;
	margin:auto;
}
.tabsStyle ul li{
	width:150px;
	max-width:33.33%;
	text-align:center;
}
.tabsStyle .tab-content{
	background:rgba(255,255,255,1);
}
.tabsStyle h3{
	margin-top:0;
}



.site-footer{
	padding:10px 0 ;
}
.site-footer ul li{
	display:inline-block;
}
.footer-top{
	background: none !important;
}
.footer-bottom{
	background-color: rgba(0,0,0,0.5) !important;
	border-top:none !important;
}
.site-footer.footer-map {
	background: url(../images/bg-map.png) no-repeat center !important;
	background-color:var(--darkblue) !important;
}
.site-footer{
	background:var(--darkblue) !important;
}
.sponsers {
	background: #fafafa url(../images/vfx_counter_bg.png) no-repeat center top;
	background-position: cover;
	background-attachment: fixed;
	border-bottom:10px solid var(--lightblue);
	border-top:10px solid var(--lightblue);
}
.sponsers .container{
	padding:30px;
	padding-bottom:60px;
	text-align:center;
}
.sponsers img{
	border-radius:50%;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
}
.sponsers .imgDiv{
	max-width:100px;
	max-height:100px;
	border-radius:50%;
	padding:10px;
	border:1px solid var(--gray);
}

/***************** TABS ********************/

.nav-tabs>li{float:right; white-space:nowrap;}.nav-tabs>li>a{margin-left:auto;margin-right:-2px; border-radius:0; background: rgba(204,204,204,0.9);}.nav-pills>li{float:right}.nav-pills>li>a{}.nav-pills>li+li{margin-right:2px;margin-left:auto}.nav-stacked>li{float:none}.nav-stacked>li+li{margin-right:0;margin-left:auto}.nav-justified>.dropdown .dropdown-menu{right:auto}.nav-tabs-justified>li>a{margin-left:0;margin-right:auto}@media (min-width:768px){.nav-tabs-justified>li>a{}}.nav-tabs{margin-right:2px;}
.tab-content{
	padding:10px 14px;
}
.autocomplete_div{
	position:absolute;
	display:block;
	background:rgba(255,255,255,0.95);
	z-index:10;
	width:100%;
	border:1px solid var(--lightblue);
}
.autocomplete_div .autocomplete_item{
	display:block;
	padding:8px 4px ;
	border-bottom:1px solid var(--gray);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/***************** END TABS ********************/

/***************** COSTUM ********************/
.feature-title-item{
	background: none;
}
.feature-item-container-box:hover .feature-title-item h1 {
	z-index:10;
}
.feature-item-container-box .feature-title-item img {
	transition: all 0.4s ease 0s;
	z-index:-1;
}
.feature-item-listing-item h1{
	z-index:10;
}
.recent-listing-box-container-item .recent-listing-box-image img {
	transition: all 0.4s ease 0s;
}
.slt_item_contant h1, .breadcrum-inner-header h1{
	font-size:24px;
}
#vfx-product-inner-item h2{
	font-size:18px;
}
.slt_item_contant{
	padding:40px 0;
}
.feature-item-location span, .feature-item-location h2{
	font-size:10px !important;
}
/***************** END COSTUM ********************/



.dlt-spons-item a:first-child {
	margin-left: 4px;
}
.dlt-spons-item a{
	margin:0 0 4px 4px ;
}
.borderBulk{
	margin:10px 0;
	border:1px solid var(--lightblue);
	padding:10px 10px 24px 10px;
	border-radius:4px;
}
.detail-gallery .detail-gallery-preview {
	height:36vw; !important;
}
.detail-gallery-list-item img{
	width:100%;
}
.modal-dialog{
	max-width:100%;
    margin: 20px auto;
}

select.form-select, textarea.form-textarea,  input.form-field{
	border: 1px solid #ccc;
	box-shadow: none;
	margin-bottom: 10px;
	padding: 8px;
	width:100%;
	min-height:50px !important;
    line-height: 33px;
}

a.rounded_img {
	padding:0 !important;
}
.rounded_img img{
	border-radius:50%;
}

#logo{
	text-align: right;
	float:right;
	width:auto;
}
.listing-login-form input[type=submit], .listing-login-form input[type=button]{
    line-height: 10px;
}
.listing-form-field .fa-eye-slash, .listing-form-field .fa-eye{
    color: var(--lightblue) !important;
}

.bootstrap-tagsinput{
    background:#f9f9f9;
    border: 1px solid var(--lightblue);
    display: block;
    float: right;
    width: 100%;
    border-radius: 4px;
}
.bootstrap-tagsinput input{
    border: 1px solid var(--lightblue) ;
    float: right;
    background: none;
    line-height: 22px;
    height: 28px;
    margin:1px 4px;
}

.bootstrap-tagsinput .tag{
    direction: rtl;
    float: right;
    margin:1px 4px;
    line-height: 22px;
    height: 28px;
    text-align: center !important;
}
.bootstrap-tagsinput span span:after{
    color: #CD0306;
    content: " X ";
    cursor: pointer;
}
.bootstrap-timepicker-minute, .bootstrap-timepicker-hour, .bootstrap-timepicker-meridian{
    border: 1px solid #aaa;
}
.bootstrap-timepicker-widget *{
    direction: ltr !important;
}
.ltr{
    direction: ltr !important;
}






@media (min-width:767px) {
	.hideWeb{
		display:none;
	}
	.listing-login-form h4{
		font-size:24px;
		font-weight:bold;
		position:absolute;
		right:60px;
		top:-80px;
		color:var(--lightblue);
		text-align:center;
	}
	.listing-login-form p{
		height:158px;
		overflow:hidden;
	}
	.modal_half{
		background:#cddae2 !important; 
		position:absolute; 
		height:101%;
		width:50%;
		left:-1px;
		top:-1px;
		display:block;
		-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
		-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	}

}

@media (max-width:474px) {
	.modal{
		padding-right:2px !important;
		padding:0 2px;
	}
	.nav-tabs > li{
		font-size:11px;
	}
	.detail-gallery .detail-gallery-preview {
		height:120vw; !important;
	}
}
@media (max-width:767px) {
	.header_slt_block{
		padding:0;
	}
	.details-lt-block{
		padding-top:20px;
	}
	.slt_item_contant{
		padding:10px 0;
	}
	/*#search-categorie-item-block{
		position:absolute ;
		top:20px ;
		width:100%;
		padding:0;
		margin:0;
	}
	#search-categorie-item-block input, #search-categorie-item-block button, #search-categorie-item-block select{
		border-radius:0px;
		font-size:12px !important;
	}
	#search-categorie-item-block button{
		height:49px !important;
	}
	#search-categorie-item-block .col-xs-2{
		float:right;
	}
	#search-categorie-item-block .col-xs-5{
		float:left;
	}*/
	.footer-top{
		margin:0 20px;
	}
	#slider-banner-section{
		margin:0;
		padding:0;
		max-width:100%;
		overflow:hidden;
	}
	.sponsers .imgDiv div{
		padding:0;
	}
	.sponsers .imgDiv{
		padding:0;
	}
	.tabsStyle{
		margin:10px ;
	}
	.tabsStyle .nopadding{
		margin:4px 0;
	}
	.bigHeader{
		height:60px ;
		line-height: 35px ;
		border-bottom:1px solid var(--lightblue);
	}
	.bigHeader .menu_btn{
		color:#fff;
		margin-top:12px;
	}
	.bigHeader #logo img {
		height:26px ;
	}
	.bigHeader .logo_clm  {
		float:left ;
	}
	.mobMenu{
		padding:0;
		margin:0;
		width:100%;;
		max-width:330px;
		position:fixed;
		top:59px;
		right:-800px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		border-top:1px solid var(--lightblue);
	}
	.mobMenu .col-xs-12{
		padding:0;
		margin:0;
	}
	.mobMenu .navbar-header{
		margin:0 10px;
	}	
	.mobMenu .navbar-collapse{
		margin-top:10px;
	}
	.mobMenu #nav_menu_list ul{
		min-height:800px;
		padding:0 10px;
		background:linear-gradient(90deg, rgba(255,255,255,1) 30%, var(--white) 100%);
	}
	.mobMenu #nav_menu_list .btn_item {
		margin:0 0 10px 0;
	}
	.mobMenu #nav_menu_list ul .link_item li{
		display:block;
		text-align:right;
		height:32px;
	}
	.mobMenu #nav_menu_list ul .link_item li a{
		border:1px solid var(--lightblue);
		display: block;
		line-height: 30px !important;
		padding:2px 6px!important;
		margin:10px 0;
	}
	.mobMenu #nav_menu_list ul .link_item .active2{
		background:var(--gray);
		height:36px;
	}
	.mobMenu #nav_menu_list .btn_item{
		display:block;
		width:100%;
		text-align:left;
	}
	.hideMob{
		display:none !important;
	}
	.detail-gallery .detail-gallery-preview {
		height:50vw; !important;
	}
}