@font-face {
    font-family: DroidKufi;
    src: url('../fonts/DroidKufi/DroidKufi-Regular.ttf'), url('../fonts/DroidKufi/DroidKufi-Regular.eot');
}
body, html, *{
	direction:ltr !important;
}
[class*="col-"] {
	float:left
}
#search-input select{
	background:#ffffff url(../images/slt_btn_cat.png) top 50% right 15px no-repeat !important;
}
.header_slt_block {
	direction: ltr;
}
.header_slt_block .user_logo_pic {
	float: left;
}
.slt_item_contant {
	float: left;
	left: 200px;
}

.sidemenu_clm{
	text-align:right;
}

.input {
	direction:ltr !important; 
}
.tag-item, .tags .input {
	float:left !important;
}
.news-search-lt span i {
	left:auto !important;
	right:15px !important;
}
.sidemenu_clm{
	float:right;
	text-align:right;
}



.from-list-lt .from-input-ic {
	border-left: 1px solid rgba(216, 216, 216, 0.6)  ;
	border-right: none;
	right: 15px ;
	left: auto ;
}

.from-list-lt select, .from-list-lt input, .from-list-lt textarea { 
	padding-left: 10px;
	padding-right: 60px;
}

.tabsStyle ul li{
	float: left;
}
.listing-form-field i{
    left: auto;
    right: 0;
}
/*
.from-list-lt .from-input-ic {
	border-left: 1px solid rgba(216, 216, 216, 0.6) !important;
	bottom: 0;
	right: 15px !important;
	padding-left: 15px !important;
	position: absolute;
	top: 0;
	width: 44px;
}
.from-list-lt .from-input-ic i {
	color: #d8d8d8;
	font-size: 17px;
	margin-right: 15px !important;
	margin-top: 13px;
}
*/