@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
:root {
          --lightblue	: #7a9aaf;
          --medblue		: #273c4d;
          --darkblue	: #0d1a2a;
          --gray		: #d2d3ce;
          --yellow		: #ff8800;
          --cyan		: #aec0d2;
          --white		: #e7edf3;
          --trikwaz		: #386167;
          --black		: #363636;
        }

.msg_tm{
  font-family: 'Droid Arabic Kufi', serif;
  direction: rtl;
  text-align:center;
  max-width:1000px;
  margin:auto;
  padding:20px;
  border: 1px solid #ccc;
}
.btn{
    border-radius: 50%;
    border: 1px solid var(--trikwaz)
}
.hdr{
}
.ftr{
}