

<?php
//debug($this->request->action);
	$breadcrumb = 
			array_merge(array_filter(['<span><i class="fa fa-home" aria-hidden="true"></i> ', 
			__(strtolower($this->request->controller)), 
			__($realstat->filter->f_housetype), 
			__($this->request->action), '</span>']),
			array_filter($bc));
		//debug(implode(' / ', $breadcrumb));die();
?>


<div class="breadcrumb"><?=implode(' / ', $breadcrumb)?></div>