
        <div class="socialmedia">
            <a href="https://facebook.com/tipsfy" target="new"><i class="fa fa-facebook fa-lg"></i></a>
            <!--<a href="https://twitter.com/tipsfy" target="new"><i class="fa fa-twitter fa-lg"></i></a>
            <a href="https://plus.google.com/tipsfy" target="new"><i class="fa fa-google-plus fa-lg"></i></a>
            <a href="https://facebook.com/badawoodtr" target="new"><i class="fa fa-linkedin fa-lg"></i></a>
            <a href="https://www.instagram.com/badawoodtr" target="new"><i class="fa fa-instagram fa-lg"></i></a>-->
        </div>