<div id="slider-banner-section">
	<div class="container">
		<div class="row">
      		<form action="aaa">
			<input type="text" />
			<button type="submit">go</button>
			</form>
		</div>
	</div>
</div>