<div>
<?= $this->Flash->render('auth') ?>
    <?= $this->Form->create($this, ['novalidate']) ?>
    <fieldset>
        <legend><h2><?= __('login') ?></h2></legend>
        <?= $this->Form->input('username', ['value'=>'']) ?>
        <?= $this->Form->input('password', ['value'=>'']) ?>
        <?php //echo $this->Form->input('doLogin', ['type'=>'checkbox', 'label'=>__('dologin')]) ?>
        <br />
        
    <?= $this->Form->button(__('login'), ['id'=>'btn']); ?>
    <?= $this->Form->end() ?>
    </fieldset>
</div>
<?=$this->Html->link('<i class="fa fa-user-plus" aria-hidden="true"></i> '.
		__('register'), ['controller'=>'users', 'action'=>'register'], 
		['title'=>__('register'), 'escape'=>false, 'class'=>'pageContent']);?>  
<?= $this->Html->link('<i class="fa fa-key" aria-hidden="true"></i> <span>'.
		__('getpassword').'</span>', ['controller'=>'users', 'action'=>'getpassword'], 
		['title'=>__('getpassword'), 'escape'=>false, 'class'=>'pageContent']);?>
		


<script>
	var user = '<?=$_GET['u']?>';
	var pass = '<?=$_GET['p']?>';
//$(function (){
	if(user == 'demodemo'){
		document.getElementById('username').value = user;
		document.getElementById('password').value = pass;
		//document.getElementById('btn').click();
	}
//});
</script>