<div>
    <h3>
		<?= __('Companies') ?>
    </h3>
    <div style="overflow-x: scroll;">
        <table class="table">
            <thead>
                <tr>
                    <th><?= $this->Paginator->sort('id', __('id')) ?></th>
                    <th><?= $this->Paginator->sort('company_name', __('company_name')) ?></th>
                    <th class="hideMob"><?= $this->Paginator->sort('subcategory_id', __('subcategory_id')) ?></th>
                    <th class="hideMob"><?= $this->Paginator->sort('stat_views', __('stat_views')) ?></th>
                    <th class="hideMob"><?= $this->Paginator->sort('stat_shares', __('stat_shares')) ?></th>
                    <th class="hideMob"><?= $this->Paginator->sort('status', __('status')) ?></th>
                    <th class="actions"><?= __('Actions') ?></th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($companies as $campany): ?>
                <tr>
                    <td><?= $this->Number->format($campany->id) ?></td>
                    <td><?= h($campany->company_name) ?></td>
                    <td class="hideMob"><?= $campany->has('subcategory') ? 
						$this->Html->link($campany->subcategory->category_name, 
							['controller' => 'Categories', 'action' => 'view', 
								$campany->category->id]) : '' ?></td>
                    <td class="hideMob"><?= $this->Number->format($campany->stat_views) ?></td>
                    <td class="hideMob"><?= $this->Number->format($campany->stat_shares) ?></td>
                    <td class="hideMob"><?= $this->Number->format($campany->status) ?></td>
                    <td class="actions">
                        <?php $campany->status == 0 ? 
							$enable = '<i class="fa fa-check-circle" aria-hidden="true"></i>' : 
                            $enable = '<i class="fa fa-times-circle-o" aria-hidden="true"></i>';?>
                            
                        <?= $this->Html->link('<i class="fa fa-eye" aria-hidden="true"></i>', 
                            ['action' => 'view', $campany->id], ['escape'=>false, 'class'=>'pageContent']) ?>
                            
                        <?= $this->Html->link('<i class="fa fa-pencil-square-o" aria-hidden="true"></i>', 
                            ['action' => 'edit', $campany->id], ['escape'=>false, 'class'=>'pageContent']) ?>
                            
                        <?= $this->Form->postLink($enable, ['action' => 'disable', $campany->id], 
                            ['confirm' => __('change_status').' '.$campany->id, 'escape'=>false]) ?>
                            
                        <?= $this->Form->postLink('<i class="fa fa-trash" aria-hidden="true"></i>', 
                            ['action' => 'delete', $campany->id], 
							['confirm' => __('delete_record').' '.$campany->id, 'escape'=>false]) ?>
                    </td>
                </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
    </div>
    
</div>

<div class="paginator">
    <ul class="pagination">
        <?= $this->Paginator->prev('< ' . __('previous')) ?>
        <?= $this->Paginator->numbers() ?>
        <?= $this->Paginator->next(__('next') . ' >') ?>
    </ul>
    <p><?= $this->Paginator->counter() ?></p>
</div>

